body {
    background-color: #fff;
    box-sizing: border-box;
    margin: 20px 0 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

h1 {
    margin: 0 0 0 0;
}

.accordion {
    list-style: none;
    padding: 0;
    color: blue;
}

.accordion:hover {
    cursor: pointer;
}

.accordion-item {
    margin: 0;
    border-top: 1px solid #000;
    width: 100%;
    text-align: center;
}

input {
    display: none;
    opacity: 1;
}

.item-label {
    display: flex;
    justify-content: space-between;
}

.item-label::after {
    content: "\002B";
    width: 1em;
    height: 1em;
    transition: 0.5s;
}

input:checked + .item-label {
    color: #000;
}

input:checked + .item-label::after {
    transform: rotate(90deg);
}
input:checked ~ .item-content {
    max-height: 100vh;
}

.item-content {
    width: 270px;
    object-fit: contain;
    max-height: 0;
    transition: 1s;
    padding: 20px 0 0 0;
}

