body {
    background-color: #fff;
    box-sizing: border-box;
    margin: 20px 0 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

h1 {
    margin: 0 0 0 0;
}

.accordion {
    list-style: none;
    padding: 0;
    color: blue;
}

.accordion:hover .finish {
    opacity: 1;
}

.accordion:hover .row {
    color: #000;
}

.accordion-item {
    margin: 0;
    border-top: 1px solid #000;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.item-label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.item-label.finish {
    width: 1em;
    height: 1em;
    transition: 0.5s;
}

.item-label:hover .item-content {
    max-height: 100vh;
}

input:checked + .row {
    color: #000;
}

input:checked + .row .finish {
    transform: rotate(45deg);
}

input:checked ~ .item-content {
    max-height: 100vh;
    padding: 20 0 0 0;
}

input {
    display: none;
    opacity: 1;
}

.row {
    display: flex;
    justify-content: space-between;
}

.finish {
    opacity: 0;
}

.item-content {
    width: 270px;
    object-fit: contain;
    max-height: 0;
    transition: 0.5s;
    padding: 0 0 0 0;
}

@media (min-width: 720px) {
    .item-content {
        width: 570px;
    }
}

@media (min-width: 1440px) {
    .item-content {
        width: 870px;
    }
}

